:root {
  --border-style: "Roboto", sanf-serif;
  --color-header: #2196f3;
  --color-1: #212121;
}
body {
  font-family: var(--border-style);
  color: var(--color-1);
  font-style: normal;
  text-decoration: none;
  width: 1600px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.button-portfolio {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #f5f4fa;
  border-radius: 4px;
  border: #f5f4fa;
  margin-bottom: 25.5px;
  padding: 4px 16px 4px 16px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.portfolio-project-list:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.name-image {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 0 20px 0;
}
.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 70px;
}
.logo-portfolio {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 70px;
}
.web {
  color: var(--color-header);
}
.nav-portfolio {
  color: var(--color-1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--color-header);
}
.nav {
  color: var(--color-1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav:hover,
.nav:focus {
  color: var(--color-header);
}
.active-link {
  position: relative;
  top: 16px;
  left: 80%;
}
.active-link-portfolio {
  position: relative;
  top: 20px;
  left: 298px;
}

.active-link::after {
  content: "";
  background: var(--color-header);
  border-radius: 2px;
  width: 53px;
  height: 4px;
  display: block;
}
.active-link-portfolio::after {
  content: "";
  background: var(--color-header);
  border-radius: 2px;
  width: 58px;
  height: 4px;
  display: block;
}

.kontakt-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.kontakt-header:hover,
.kontakt-header:focus {
  color: #2196f3;
}
.kontakt-header:hover .envelope-icon,
.kontakt-header:focus .envelope-icon,
.kontakt-header:hover .smartphone-icon,
.kontakt-header:focus .smartphone-icon {
  fill: #2196f3;
  stroke: #2196f3;
}

.background-index {
  background: #2f303a;
  padding: 200px 452px 200px 452px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header-index.jpg");
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 0 30px 0;
}
.button {
  border: none;
  border-radius: 4px;
}
.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background: #2196f3;
  max-width: 200px;
  height: 50px;
  padding: 10px 40px;
}
.name-index {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 10px 0;
}
.text-index {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin: 0;
}

.descripition-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0 0 50px 0;
}
.descripition-index-team,
.description-customers-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-image {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 30px;
  margin-top: 94px;
}

.position-index {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
}

.background-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 60px;
}
.studio-footer {
  color: #ffffff;
}
.adress-kontakt-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
}
.adress-footer {
  color: #ffffff;
}
.kontakt-footer {
  color: rgba(255, 255, 255, 0.6);
}
.kontakt-footer:hover,
.kontakt-footer:focus {
  color: #2196f3;
}
.footer-portfolio-mail {
  margin: 9px 0;
}
.footer-portfolio-tel {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.02em;
}
.menu-nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 50px;
}
.menu-nav-portfolio {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 30px;
}
.kont-mail {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-end;
}
.kont-mail-portfolio {
  display: flex;
  gap: 37px;
  align-items: center;
  justify-content: flex-end;
}
.text-lorem {
  display: flex;
  gap: 30px;
  margin: 0;
}
.background-icons-index {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-antenna {
  display: block;
  margin: auto;
}

.images-profil {
  display: flex;
  gap: 30px;
  margin: 0;
}
.image-label {
  position: relative;
}
.label-index {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 90px;
  inset: auto 0 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: #2f303acc;
  text-transform: uppercase;
  color: #fff;
}

.web-nav-portfolio {
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 4px 4px 0px #00000040;
  align-items: stretch;
  padding-left: 9%;
  padding-right: 18%;
}

.web-nav-index {
  margin-bottom: 111px;
}

.button-nav-port {
  padding-right: 32%;
  padding-left: 32%;
}
.buttons-port {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.image-project-port {
  max-width: 1200px;
}
.image-portfolio {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 22px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.images-team-4 {
  display: flex;
  gap: 20px;
}
.backgrund-image-team {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.figure-portfolio {
  margin: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-right: 18px;
  padding-top: 19px;
  padding-left: 18px;
  text-align: left;
}
.portfolio-image-size {
  height: 404px;
}
.footer-mail-index {
  margin: 9px 0;
}
.footer-tel-index {
  margin: 0;
}
.portfolio-images-projects {
  display: block;
  max-width: 100%;
}
.icons-customers {
  display: flex;
}
.client-logo-index {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 15px 31px;
}
.client-logo-index:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
  color: #2196f3;
}
.client-logo-index:hover .icons-logo {
  fill: #2196f3;
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: #757575;
}

.icons-group-footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}
.icons-list-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.icons-list-footer:hover {
  background-color: #2196f3;
}
.icon-instagram-socjal,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
  fill: #ffffff;
  margin: 12px;
  stroke: #ffffff;
}
.icons-team-index {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
.team-icons-four {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-color {
  fill: #afb1b8;
  margin: 27.27%;
}
.team-icons-four:hover,
.team-icons-four:focus {
  stroke: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  fill: #ffffff;
  stroke: #ffffff;
}
.team-icons-four:hover .icon-color {
  fill: #ffffff;
}

.icons-customers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.customers {
  margin-top: 94px;
  margin-bottom: 94px;
}
.socjal-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 72px;
}
.socjal {
  height: 80px;
  width: 206px;
  margin-top: 12px;
}
.addres-social-footer {
  display: flex;
  gap: 72px;
}
.icons-logo {
  fill: #afb1b8;
}
.backdrop {
  display: flex;
  align-items: center;
  position: fixed;
  width: 1600px;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  scale: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal-window {
  width: 528px;
  height: 581px;
  margin-left: 536px;
  margin-right: 536px;
  margin-top: 221px;
  margin-bottom: 221px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  scale: 1.25;
  transition: scale 250ms;
}

.button-close {
  position: relative;
  top: 8px;
  left: 90%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 25px;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-box {
  position: relative;
}

.input-icons input {
  width: 448px;
  height: 40px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 0 0 0 42px;
  display: block;
}

.input-icons textarea {
  width: 448px;
  height: 120px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
}

form h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 23px;
  margin-bottom: 2px;
  font-style: 700;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--brand-color-grey);
  margin: 10px 0 4px 0;
  display: flex;
}

.checkbox-label {
  margin: 20px 0 30px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-label a {
  text-decoration: underline;
  color: var(--brand-color-blue);
}

.checkbox-icon {
  position: absolute;
  fill: var(--white-tekst);
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility, scale;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
  scale: 0;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  visibility: visible;
  background-color: var(--brand-color-blue);
  scale: 1;
}

.checkbox-hidden:checked ~ .checkbox-icon-unchecked {
  scale: 0;
}

.checkbox-icon-unchecked {
  position: absolute;
  scale: 1;
  transition: scale, 0.2s;
}

.checkbox-text {
  margin-left: 8px;
}

.checkbox-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  z-index: 10;
}

.input-icons svg {
  position: absolute;
}

.icons-form {
  top: 32px;
  left: 15px;
  fill: var(--icons-form-color);
}

.icon-checkbox {
  margin-left: 15px;
}

.form-input:focus {
  outline: 1px solid var(--brand-color-blue);
  transition-property: outline;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.form-input:focus + svg {
  fill: var(--brand-color-blue);
  transition-property: fill;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.hover-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3e5;
}
.hover-overlay:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}
.overlay p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;
  text-align: left;
  margin: 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
form > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-family: inherit;
  box-sizing: border-box;

  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 10px;
}
.button-newsletter {
  position: relative;
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-header);
  color: #ffffff;
  padding: 10px 70px 10px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.icon-send {
  fill: #ffffff;
  position: absolute;
  left: 148px;
  right: 28px;
  top: 13px;
  bottom: 13px;
}
